
.center{
display: flex;
justify-content: center;
}
.box{
  border: 1px solid black;
  width: 20%;
  height: 400px;
  margin-top: 100px;
  padding: 50px;
  /* text-align: center; */
}
.button{
  width: 45%;
  background-color: rgb(4, 164, 4);
  color: white;
  border-color: transparent;
  height: 30px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  cursor:pointer;
}
input{
  height: 22px;
  width: 90%;
  padding: 5px;
  border: 1px solid lightgray;
}
.title{
  padding-bottom: 5px;
  color: rgb(78, 6, 146);
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}